# Core dependencies
numpy>=1.24
gymnasium>=0.29
stable-baselines3>=2.2
PyYAML>=6.0
matplotlib>=3.7
tensorboard>=2.14
setuptools>=68,<81

# Development tools
pytest>=8.0
ruff>=0.6

# Random bs
tqdm
rich
